 
 a:link {
  text-decoration: none;
  
}
a:hover {
    color: rgb(16, 5, 171); 
    cursor: pointer;   
}


div
{  
    margin-left: 800px;
    padding-top: 20px;   
    font-size: 18px;
    font-family:monospace;
}
